body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  font-family: "Inter", sans-serif;
  color: #1a1a1a;
}

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
  font-weight: 600;
}
